.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--cor-fundo);
}

.hero-content {
    max-width: 700px;
}

.hero-content h1 {
    font-size: 3rem;
    color: #4b8175;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    color: #A8B2C8;
    line-height: 1.7;
}